body {
    background-color: #778899;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

h1 {
    color: #1C1C1C;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    height: 40px;
    background-color: #B0C4DE;
    padding: 10px 10px 10px 10px;
    margin: auto;
    text-decoration: underline;
    border-bottom: 4.5px solid #92a1b6;
}

h2 {
    background-color: #2F4F4F;
    font-family: sans-serif;
    font-size: large;
    text-decoration: underline;
    text-align: center;
    height: 20px;
    padding: 10px 10px 10px 10px;
    margin: auto;
    border-bottom: 4.5px solid #183838;
}

mark {
    background-color: #F5DEB3;
}

p {
    padding: 0px 15px 0px 0px;
}

i {
    text-decoration: underline;
}

a{
    display: inline-block;
    padding: 1.2px;
}

a:link{
    color: #2d75c6;
}

a:visited{
    color: #2c062c;
}

a:hover{
    background-color: #aeacac;
}

a:active{
    background-color: red;
    color: whitesmoke;
}

ul li{
    list-style-type: square;
    list-style-position: outside;
}

ol li{
    list-style-type: decimal-leading-zero;
}


.OBS {
    color: #2F4F4F;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

.rename {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.alteration {
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: small;
}

.image_reserved {
    padding: 10px;
    text-align: center;
}

.genRule{
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}